.content {
    padding: 60px;
}
.navbar-title{vertical-align: middle;}

.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background:gainsboro; color: white; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.bg-dark{
    background-color:#343a40!important
}
.bg-primary{
    background-color:#007bff!important
}
